.lineargraddiv {
    display: grid;
    place-items: center;
    border: 8px solid;
    padding: 1rem;
    background-color: whitesmoke;
    border-image: linear-gradient(90deg, teal, yellowgreen) 1;
    overflow: hidden;
}

#movie-info-div {
    place-items: unset;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#btn-div {
    background-image: linear-gradient(90deg, teal, yellowgreen);
}

.custtablehead{
    background-image: linear-gradient(90deg, teal, yellowgreen);
    color:white;
}

#movie-div{
    float:left;
}

#prompt-div{
    float:left;
}

#cu-form{
    margin:15px;
    display: inline-grid;
    place-items: center;
    border: double 5px transparent;
    border-radius: 10px;
    padding: 0px;
    padding-bottom: 5px;
    background-color: whitesmoke;
    border-image: linear-gradient(270deg, teal, yellowgreen) 1;
}

.intro-text{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:teal;
    font-style: block;
    font-weight: bold;
    border-radius: 5px;
    border: 2px dashed;
    padding-right: 5px;
    padding-left: 5px;
}

.form-title{
    color:white;
    margin: 0px;
    padding:10px;
    border:0px;
    background-image:linear-gradient(270deg, teal, yellowgreen);
}

h3{
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.td-label{
    white-space: pre;
}