<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>
        Data Representation project - G00387816
    </title>
    <link rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous">
    <link rel="stylesheet"
    href="custom.css"
    crossorigin="anonymous">
    <style>
        div {padding: 10}

    </style>
</head>
    <div id="btn-div" class="header">
        <button onclick="getAll()">Get all movies</button>
        <button onclick="addMovieForm()">Add new movie</button>
        <button onclick="updateMovieForm()">Update movie</button>
    </div>
    <div id="output" class="lineargraddiv">
        <div id="movie-div">
            <table id="movie-table" border=2 style="display:none">
                <tr class="custtablehead">
                    <th>Movie ID</th><th>Title</th><th>Rating ID</th><th>Rating</th><th></th><th></th><th></th>
                </tr>
            </table>
        </div>
        <div id="prompt-div">
            <p class="intro-text">&#8604; Click "Get all movies" to load in a table of data</p>
            <p class="intro-text">&#8604; Click "Add new movie" to get a form for entering new movies</p>
            <p class="intro-text">&#8604; Click "Update movie" to get a form for updating a movie</p>
        </div>
    </div>

    <div name="form-div" id="cu-form" style="display:none">
        <h2 class="form-title"><span id="create-label">Create a</span> <span id="update-label">Update this</span> Movie</h2>
        Movie ID <input type="number" pattern="[0-9]" name="movie-id" id="movie-id"><br/>
        Rating <select name="movie-rating" id="movie-rating">
            </select><br/>
        Title <input type="text" name="movie-title" id="movie-title"><br/>
        <span><button id="do-create-btn" onclick="createMovie()">Create</button></span>
        <span><button id="do-update-btn" onclick="updateMovie()">Update</button></span>

    </div>

    <div id="movie-info-div" class="lineargraddiv">
        <h3>IMDB info</h3>
        <span id="intro-text">After loading movies above, click 'Search IMDB' to retrieve information about the movie by title.</span>
        <table id="movie-info-tbl" style="display: none;">
            <tr>
                <td>Title: </td>
                <td id="movie-name"></td>
            </tr>
            <tr>
                <td>IMDB Rating: </td>
                <td id="imdb-rating"></td>
            </tr>
            <tr>
                <td>Runtime: </td>
                <td id="movie-runtime"></td>
            </tr>
            <tr>
                <td>Genre: </td>
                <td id="movie-genre"></td>
            </tr>
            <tr>
                <td>Release Year: </td>
                <td id="movie-year"></td>
            </tr>
            <tr>
                <td>Plot Synopsis: </td>
                <td id="movie-plot"></td>
            </tr>
        </table>
    </div>
    <script>
        host = window.location.origin;
        //init function is for doing an initial set up to retrieve information from the Flask Server
        //  It loads in the available rating options and populates a dropdown list with these values, for use when adding new movie
        function init(){
            $.ajax({
                "url": host+"/ratings",
                "method":"GET",
                "data":"",
                "datatype":"JSON",
                "contentType": "application/json; charset=utf-8",
                "success":function(result){
                    ratingselect = document.getElementById("movie-rating")
                    console.log(result);
                    for (item of result.data){
                        console.log(item);
                        var option = document.createElement('option');
                        option.value = item.RatingID;
                        option.innerHTML = item.Rating;
                        ratingselect.appendChild(option);
                    }
                },
                "error":function(xhr,status,error){
                    console.log("You hit Error: " + status+ "Msg: " + error);
                }
            });
        }
        //Immediately call init function to do initial GET request
        init();

        function getAll(){
            document.getElementById("output").style.display="block";
            document.getElementById("btn-div").style.display="block";
			document.getElementById("movie-table").style.display="table";
            document.getElementById("movie-table").innerHTML="";
            document.getElementById("movie-info-div").style.display="grid"
            addColumnToTable();
			document.getElementById("cu-form").style.display="none"; //make form visible

			document.getElementById('create-label').style.display="none" //make span visible
			document.getElementById('update-label').style.display="none"

			document.getElementById('do-create-btn').style.display="none" //make create button visible
			document.getElementById('do-update-btn').style.display="none"

            //check for presence of one of the p tags to add on loading table, if doesn't exist create, otherwise it exists so don't re-add
            if (document.getElementById("p-message-update") == null){
                var pmessage_update = document.createElement("p");
                pmessage_update.innerHTML = "&#8592; To update a specific movie in table click 'Update'";
                pmessage_update.id = "p-message-update"
                pmessage_update.className = "intro-text";
                var pmessage_delete = document.createElement("p");
                pmessage_delete.innerHTML = "&#8592; To delete a specific movie in table click 'Delete'";
                pmessage_delete.id = "p-message-delete"
                pmessage_delete.className = "intro-text";
                prompt_div = document.getElementById('prompt-div');
                prompt_div.appendChild(pmessage_update);
                prompt_div.appendChild(pmessage_delete);
            }

            $.ajax({
                "url": host+"/movies",
                "method":"GET",
                "data":"",
                "datatype":"JSON",
                "contentType": "application/json; charset=utf-8",
                "success":function(result){
                    console.log(result);
                    for (item of result.data){
                        console.log(item);
                        addMovieToTable(item);
                    }
                },
                "error":function(xhr,status,error){
                    console.log("You hit Error: " + status+ "Msg: " + error);
                }
            });
        };

        function addColumnToTable(){
            var table = document.getElementById('movie-table'); //grab the table to insert data to
			var row = table.insertRow(-1); //append row to end of table
            cell = document.createElement("th");
            row.className="custtablehead";
            cell.innerHTML = "Movie ID";
            row.appendChild(cell);
            cell = document.createElement("th");
            cell.innerHTML = "Movie Title";
            row.appendChild(cell);
            cell = document.createElement("th");
            cell.innerHTML = "Rating ID";
            row.appendChild(cell);
            cell = document.createElement("th");
            cell.innerHTML = "Rating";
            row.appendChild(cell);
            cell = document.createElement("th");
            cell.innerHTML = "";
            cell.style.borderRight = "none";
            row.appendChild(cell);
            cell = document.createElement("th");
            cell.innerHTML = "";
            cell.style.borderRight = "none";
            cell.style.borderLeft = "none";
            row.appendChild(cell);
            cell = document.createElement("th");
            cell.style.borderLeft = "none";
            cell.innerHTML = "";
            row.appendChild(cell);
        }

        function addMovieToTable(movie){
			var table = document.getElementById('movie-table'); //grab the table to insert data to
			var row = table.insertRow(-1); //append row to end of table
            // console.log(movie);
            // console.log(movie.MovieID);
			row.setAttribute('id', movie.MovieID);
			var cell0 = row.insertCell(0);
			cell0.innerHTML = movie.MovieID;
			var cell1 = row.insertCell(1);
			cell1.innerHTML = movie.Title;
			var cell2 = row.insertCell(2);
			cell2.innerHTML = movie.RatingID;
            var cell3 = row.insertCell(3);
			cell3.innerHTML = movie.Rating;
			var cell4 = row.insertCell(4);
			cell4.innerHTML = '<td><button onclick="updateSpecificMovieForm(this)">Update</button></td>'
			var cell5 = row.insertCell(5);
			cell5.innerHTML = '<td><button onclick="deleteMovie(this)">Delete</button></td>'
            var cell5 = row.insertCell(6);
			cell5.innerHTML = '<td><button onclick="imdbRequestSpecificMovie(this)">Search IMDB</button></td>'

		}

        //createMovie get's called to add a new row to movie table, it creates it's json request using values from "cu-form"
        function createMovie(){
            //movie = {"MovieID":"10", "Title":"Test", "RatingID":"2"};
            movieID = document.getElementById("movie-id");
            ratingID = document.getElementById("rating-id");
            var movie_json = {};
            var movie_form = document.getElementById("cu-form");
            movie_json.MovieID = movie_form.querySelector("input[name='movie-id']").value;
            movie_json.RatingID = movie_form.querySelector("select[name='movie-rating']").value;
            movie_json.Title = movie_form.querySelector("input[name='movie-title']").value;
            console.log(JSON.stringify(movie_json));
            $.ajax({
                "url": host+"/movies",
                "method":"POST",
                "data":JSON.stringify(movie_json),
                "datatype":"JSON",
                "contentType": "application/json; charset=utf-8",
                "success":function(result){
                    console.log(result);
                    if(result=="IntegrityError"){
                        alert("You tried to use an existing MovieID, try again with a new one.")
                    }
                    if(result=="SomeOtherError"){
                        alert("You probably entered a value or set of values that don't work, please try again.\nNote: MovieID must have a value and be numeric, Rating should be selected, Title is not necessary but reccomended.")
                    }
                    getAll(); //On succesful response, run getAll() to repopulate table with newly added movie
                },
                "error":function(xhr,status,error){
                    console.log("You hit Error: " + status+ "Msg: " + error);
                }
            });
        }

        function updateMovie(){
            movieID = document.getElementById("movie-id");
            ratingID = document.getElementById("rating-id");
            var movie_json = {};
            var movie_form = document.getElementById("cu-form");
            movie_json.MovieID = movie_form.querySelector("input[name='movie-id']").value;
            movie_json.RatingID = movie_form.querySelector("select[name='movie-rating']").value;
            movie_json.Title = movie_form.querySelector("input[name='movie-title']").value;
            console.log(JSON.stringify(movie_json));
            $.ajax({
                "url": host+"/movies",
                "method":"PUT",
                "data":JSON.stringify(movie_json),
                "datatype":"JSON",
                "contentType": "application/json; charset=utf-8",
                "success":function(result){
                    console.log(result);
                    if(result=="0"){
                        alert("You updated a MovieID that doesn't exist so nothing was done, use an existing MovieID or add a new one and update that!");
                    }
                    getAll();
                },
                "error":function(xhr,status,error){
                    console.log("You hit Error: " + status+ "Msg: " + error);
                }
            });
        }

        function deleteMovie(btn){
            parent_row = btn.parentNode.parentNode;
            movie = {'MovieID': parent_row.id};
            $.ajax({
                "url": host+"/movies",
                "method":"DELETE",
                "data":JSON.stringify(movie),
                "datatype":"JSON",
                "contentType": "application/json; charset=utf-8",
                "success":function(result){
                    console.log(result);
                    //After deleting element, re-execute query and populate table
                    getAll();
                },
                "error":function(xhr,status,error){
                    console.log("You hit Error: " + status+ "Msg: " + error);
                }
            });
        }

        //Simple function to cleanup form for updating or adding movies, added due to updateSpecificMovieForm function as this prepopulates form
        function cleanupMovieForm(){
            movieidfield = document.getElementById("movie-id");
            movieidfield.value="";
            movieidfield.disabled=false;
            ratingfield = document.getElementById("movie-rating");
            ratingfield.value="";
            titlefield = document.getElementById("movie-title");
            titlefield.value="";

            document.getElementById("output").style.display="none";
            document.getElementById("btn-div").style.display="none";
			document.getElementById("movie-table").style.display="none";
            document.getElementById("movie-info-div").style.display="none";
			document.getElementById("cu-form").style.display="inline-grid"; //make form visible
        }

        function addMovieForm(){
            cleanupMovieForm();

			document.getElementById('create-label').style.display="inline"; //make span visible
			document.getElementById('update-label').style.display="none";

			document.getElementById('do-create-btn').style.display="block"; //make create button visible
			document.getElementById('do-update-btn').style.display="none";
        }

        function updateMovieForm(){
            cleanupMovieForm();

			document.getElementById('create-label').style.display="none"; //make span visible
			document.getElementById('update-label').style.display="inline";

			document.getElementById('do-create-btn').style.display="none"; //make create button visible
			document.getElementById('do-update-btn').style.display="block";
        }

        function updateSpecificMovieForm(btn){
            parentrow = btn.parentNode.parentNode;
            movieidfield = document.getElementById("movie-id");
            movieidfield.value=parentrow.id;
            movieidfield.disabled=true;
            ratingfield = document.getElementById("movie-rating");
            ratingfield.value=parentrow.cells[2].innerText;
            titlefield = document.getElementById("movie-title");
            titlefield.value=parentrow.cells[1].innerText;
            document.getElementById("output").style.display="none";
            document.getElementById("btn-div").style.display="none";
			document.getElementById("movie-table").style.display="none";
			document.getElementById("cu-form").style.display="inline-grid"; //make form visible

			document.getElementById('create-label').style.display="none"; //make span visible
			document.getElementById('update-label').style.display="inline";

			document.getElementById('do-create-btn').style.display="none"; //make create button visible
			document.getElementById('do-update-btn').style.display="block";
        }

        function imdbRequestSpecificMovie(btn){
            var parentrow = btn.parentNode.parentNode;
            var movietitle=parentrow.cells[1].innerText;
            var movie = {'Title': movietitle};
            var movie_info_table = document.getElementById("movie-info-tbl");
            var intro_text = document.getElementById("intro-text");
            var movie_name = document.getElementById("movie-name");
            var imdb_rating = document.getElementById("imdb-rating");
            var movie_runtime = document.getElementById("movie-runtime");
            var movie_genre = document.getElementById("movie-genre");
            var movie_year = document.getElementById("movie-year");
            var movie_plot = document.getElementById("movie-plot");
            $.ajax({
                "url": host+"/imdbdetails",
                "method":"POST",
                "data":JSON.stringify(movie),
                "datatype":"JSON",
                "contentType": "application/json; charset=utf-8",
                "success":function(result){
                    //got succesful response back but movie not found
                    if("Error" in result.data){
                        intro_text.style.display="block";
                        intro_text.style.color="red";
                        intro_text.style.fontWeight="bold";
                        intro_text.innerHTML = "Sorry that movie was not found, likely the name entered and what is on IMDB differs.";

                        movie_info_table.style.display = "none";
                    }
                    else{
                        intro_text.style.display = "none";
                        movie_info_table.style.display = "block";
                        movie_name.innerHTML = result.data.Title;
                        movie_name.style.display = "block";
                        imdb_rating.innerHTML = result.data.imdbRating;
                        imdb_rating.style.display = "block";
                        movie_runtime.innerHTML = result.data.Runtime;
                        movie_runtime.style.display = "block";
                        movie_genre.innerHTML = result.data.Genre;
                        movie_genre.style.display = "block";
                        movie_year.innerHTML = result.data.Year;
                        movie_year.style.display = "block";
                        movie_plot.innerHTML = result.data.Plot;
                        movie_plot.style.display = "block";
                    }
                    console.log(result);
                    console.log(result.data.imdbRating);
                },
                "error":function(xhr,status,error){
                    console.log("You hit Error: " + status+ "Msg: " + error);
                }
            });
        };
    </script>
</html>