<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>
        Test get all!
    </title>
    <link rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous">
    <style>
        div {padding: 10}
    </style>
</head>
    <div id="btn-div">
        <button onclick="getAll()">Get all movies</button>
        <button onclick="movieForm()">Add new movie</button>
        <button onclick="updateMovie()">Update movie</button>
        <button onclick="deleteMovie()">Delete movie</button>
    </div>
    <div id="output">
        <table id="movie-table" border=2>
            <tr>
                <th>Movie ID</th><th>Title</th><th>Rating ID</th><th></th><th></th>
            </tr>
        </table>
    </div>

    <div name="form-div" id="cu-form" style="display:none">
        <h2><span id="create-label">Create a</span> <span id="update-label">Update this</span> Movie</h2>
        Movie ID <input type="text" name="reg"><br/>
        Rating <select name="rating">
                <option value="Ford">Ford</option>
                <option value="Fiat">Fiat</option>
                <option value="Nissan">Nissan</option>
            </select><br/>
        Title <input type="text" name="model"><br/>
        <span><button id="do-create-btn" onclick="createMovie()">Create</button></span>
        <span><button id="do-update-btn" onclick="updateMovie()">Update</button></span>

    </div>
    <script>
        function getAll(){
            document.getElementById("btn-div").style.display="block";
			document.getElementById("movie-table").style.display="table";
            document.getElementById("movie-table").innerHTML="";
            addColumnToTable();
			document.getElementById("cu-form").style.display="none"; //make form visible

			document.getElementById('create-label').style.display="none" //make span visible
			document.getElementById('update-label').style.display="none"

			document.getElementById('do-create-btn').style.display="none" //make create button visible
			document.getElementById('do-update-btn').style.display="none"
            $.ajax({
                "url": "http://127.0.0.1:5000/movies",
                "method":"GET",
                "data":"",
                "datatype":"JSON",
                contentType: "application/json; charset=utf-8",
                "success":function(result){
                    console.log(result);
                    for (item of result.data){
                        console.log(item);
                        addMovieToTable(item);
                    }
                },
                "error":function(xhr,status,error){
                    console.log("You hit Error: " + status+ "Msg: " + error);
                }
            });
        };

        function addColumnToTable(){
            var table = document.getElementById('movie-table'); //grab the table to insert data to
			var row = table.insertRow(-1); //append row to end of table
            
            cell = document.createElement("th");
            cell.innerHTML = "Movie ID";
            row.appendChild(cell);
            cell = document.createElement("th");
            cell.innerHTML = "Movie Title";
            row.appendChild(cell);
            cell = document.createElement("th");
            cell.innerHTML = "Movie Rating";
            row.appendChild(cell);
            // th = document.createElement('th');
            // th.innerHTML('Movie ID');
            // tr = document.getElementById('table').tHead.children[0]
            // tr.appendChild(th);
           // row.createElement()
        }

        function addMovieToTable(movie){
			var table = document.getElementById('movie-table'); //grab the table to insert data to
			var row = table.insertRow(-1); //append row to end of table
            // console.log(movie);
            // console.log(movie.MovieID);
			row.setAttribute('id', movie.MovieID);
			var cell0 = row.insertCell(0);
			cell0.innerHTML = movie.MovieID;
			var cell1 = row.insertCell(1);
			cell1.innerHTML = movie.Title;
			var cell2 = row.insertCell(2);
			cell2.innerHTML = movie.RatingID;
			var cell3 = row.insertCell(3);
			cell3.innerHTML = '<td><button onclick="showUpdate(this)">update</button></td>'
			var cell3 = row.insertCell(4);
			cell3.innerHTML = '<td><button onclick="deleteMovie(this)">Delete</button></td>'

		}

        function createMovie(){
            movie = {"MovieID":"10", "Title":"Test", "RatingID":"2"};
            $.ajax({
                "url": "http://127.0.0.1:5000/movies",
                "method":"POST",
                "data":JSON.stringify(movie),
                "datatype":"JSON",
                "contentType": "application/json; charset=utf-8",
                "success":function(result){
                    console.log(result);
                    //console.log(result.car.make);
                    // for (var key in result.car){
                    //     console.log(key);
                    //     document.getElementById("output").innerText = document.getElementById("output").innerText + " " + key + ":" + result.car[key];
                    // }
                    //document.getElementById("output").innerText = JSON.stringify(result);
                    getAll();
                },
                "error":function(xhr,status,error){
                    console.log("You hit Error: " + status+ "Msg: " + error);
                }
            });
        }

        function updateCar(){
            car = {"reg":"123XYZ", "make":"UpdateMake", "model":"UpdateMod", "price":10101};
            $.ajax({
                "url": "http://127.0.0.1:5000/cars/" + encodeURI(car.reg),
                "method":"PUT",
                "data":JSON.stringify(car),
                "datatype":"JSON",
                "contentType": "application/json; charset=utf-8",
                "success":function(result){
                    console.log(result);
                    console.log(result.car.make);
                    // for (var key in result.car){
                    //     console.log(key);
                    //     document.getElementById("output").innerText = JSON.stringify(result);
                    // }
                    document.getElementById("output").innerText = JSON.stringify(result);
                },
                "error":function(xhr,status,error){
                    console.log("You hit Error: " + status+ "Msg: " + error);
                }
            });
        }

        function deleteMovie(btn){
            parent_row = btn.parentNode.parentNode;
            movie = {'MovieID': parent_row.id};
            $.ajax({
                "url": "http://127.0.0.1:5000/movies",
                "method":"DELETE",
                "data":JSON.stringify(movie),
                "datatype":"JSON",
                "contentType": "application/json; charset=utf-8",
                "success":function(result){
                    console.log(result);
                    //After deleting element, re-execute query and populate table
                    getAll();
                },
                "error":function(xhr,status,error){
                    console.log("You hit Error: " + status+ "Msg: " + error);
                }
            });
        }

        function movieForm(){
            document.getElementById("btn-div").style.display="none";
			document.getElementById("movie-table").style.display="none";
			document.getElementById("cu-form").style.display="block"; //make form visible

			document.getElementById('create-label').style.display="inline" //make span visible
			document.getElementById('update-label').style.display="none"

			document.getElementById('do-create-btn').style.display="block" //make create button visible
			document.getElementById('do-update-btn').style.display="none"
        }
    </script>
</html>